body {
  font-family: 'Helvetica Neue';
  background-color: #FFF;
}

/*SEARCH*/
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover {
  background-color: #EEE;
}

/* MOVIES */
.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.movies-container>h1 {
    color: #333;
}
.movie {
  width: 130px;
  margin: 20px 25px;
}
.movie > img {
  object-fit: cover;
  height: 190px;
  width: 130px;
  border-radius: 5px;
  box-shadow: #DDD 1px 1px 1px 1px;
}
.movie>p {
  font-size: 12px;
  margin: 2px 0;
  color: #798697;
}
.movie>p.title {
  margin-top: 10px;
  font-weight: 700;
  color: #3C4C55;
}